<!-- 국회의원 정보 조회 -->
<h1>명단</h1>

<table class="table table-bordered">
    <tr>
        <td>대수</td>
        <td>이름</td>
        <td>성별</td>
        <td>소속</td>
        <td>지역구</td>
    </tr>
    <!-- for (let i =0; i < list.length; i++){} -->
    <% list.forEach((v)=> { %>
        <tr>
            <td>
                <%= v.sch_unit_cd %>
            </td>
            <td>
                <%= v.hg_nm %>
            </td>
            <td>
                <%= v.sex_gbn_nm %>
            </td>
            <td>
                <%= v.poly_nm %>
            </td>
            <td>
                <%= v.orig_nm %>
            </td>
        </tr>
        <% })%>
</table>